<div class="container">
  <% @posts.each do |post| %>
    <div class="card-header">
      <h6 style="text-align: right"><%= post.updated_at%></h6>
      <div>
        <%geo = Geofence.where("post_id = ?", post.id).first %>
        <%if geo %>
          <%=link_to map_home_path(post), method: :get do %>
            <button class="btn btn-link" style="float: right"><%=geo.region %></button>
          <%end %>
        <%end %>
        <%name_user = UserProfile.select("name").where("user_id=?", post.user_id)[0].name + " " + UserProfile.select("last_name").where("user_id=?", post.user_id)[0].last_name%>
        <h5><%= link_to name_user, user_profile_path(:id => post.user_id, method: :get, :class=>"btn-primary" )%></h5>
      </div>
    </div>
    <div class="card-body bg-light">
      <h2><%= post.title%></h2>
      <p><%=post.description %></p>
      <div >
        <%p_a = PostAttachment.where("post_id = ?",post.id) %>
        <%p_a.each do| a|%>
          <% for av in a.avatars do %>

            <%name = av.blob.filename.to_s %>
            <%if name.include? "jpg" or name.include? "png" or name.include? "jpeg"%>
              <%= link_to url_for(av) do%>
                <%=image_tag( av.variant(resize: "200x200>").processed, style: "margin:7px",:class=>"nav-link" )%>
              <%end %>
            <%end %>
          <%end %>
          </div>
          <div>
            <% for av in a.avatars do %>
              <%name = av.blob.filename.to_s %>
              <%if !(name.include? "jpg" or name.include? "png" or name.include? "jpeg")%>
                <%= link_to(name, rails_blob_path(av, disposition: "attachment"),style: "margin:5px") %>
              <%end %>

            <%end %>
        <%end %>
        </div>
        <div style="margin-top: 15px" >


          <%= link_to  like_home_path(post), class: 'vote  btn btn-sm btn-info', method: :put, remote: true do%>
            <button class="btn btn-sm btn-like" id="like-post-<%=post.id %>"><%=PostVote.where("post_id = ? AND vote = ?",post.id,true).count %> Like</button>
          <%end %>
          <%= link_to  dislike_home_path(post), class: 'downvote  btn btn-sm btn-info', method: :put, remote: true do%>
            <button class="btn btn-sm btn-dislike" id="dislike-post-<%=post.id %>"><%=PostVote.where("post_id = ? AND vote = ?",post.id,false).count %> DisLike</button>
          <%end %>
          <%= link_to "Edit", edit_home_path(post), method: :get, class: "btn btn-info btn-edit" %>
          <%= link_to 'Delete Post', delete_home_path(post), :method => :delete, class: "btn btn-info btn-destoy",:confirm => "Are you sure?" %>

        </div>
        <div class="form-inline">

          <%= bootstrap_form_tag(:model=> @post_comment,:url =>comment_home_path(post), method: :put, remote: true, html: { multipart: true }) do |f| %>

            <div class="input-group " style="margin-top:30px; flex: 1 1 auto; width:420px">
              <%= f.text_field :comment, placeholder: "Comment",hide_label: :true , control_col: "col-12", class: "comment-field" %>
              <div class="input-group-append">
                <%= f.hidden_field :post_id, :value => post.id %>
                <%= f.hidden_field :user_id, :value => session["warden.user.user.key"][0][0] %>
                <%= f.button :submit, label: "Comment", class: " btn btn-success post-comment" %>
                <%= %>
              </div>
            </div>


          <% end %>


        </div>
        <div class="comment-tread" id="post-comment-<%=post.id%>">
          <%comments = PostComment.where("post_id", post.id ) %>
          <%comments.each do |comment| %>
            <%if(comment.post_id == post.id) %>

              <div class=" card card-body " style="margin-top:10px">
                <%name_user = UserProfile.select("name").where("user_id=?", comment.user_id)[0].name + " " + UserProfile.select("last_name").where("user_id=?", post.user_id)[0].last_name%>
                <h5><%= link_to name_user, user_profile_path(:id => comment.user_id, method: :get, :class=>"btn-primary" )%>:</h5><%=auto_link_usernames(comment.comment) %>
                <%if comment.user_id ==session["warden.user.user.key"][0][0]  %>
                  <div>
                    <%= link_to "Edit", edit_comment_home_path(comment), :method => :get, class: "btn btn-sm btn-info float-right" %>
                    <%= link_to "Delete", delete_comment_home_path(comment), :method => :delete, class: "btn btn-sm btn-info float-right",:confirm => "Are you sure?" %>
                  </div>
                <%end %>
              </div>

            <%end %>
          <%end %>
        </div>
        </div>

    <br>
  <%end %>
</div>