<meta name='turbolinks-visit-control' content='reload'>
<%= form_with(model: geofence, local: true) do |form| %>
  <% if geofence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geofence.errors.count, "error") %> prohibited this geofence from being saved:</h2>

      <ul>
      <% geofence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :user_id, value: session["warden.user.user.key"][0][0], type:"hidden" %>
    <%= form.text_field :post_id, value: params[:post_id], type:"hidden" %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region %>
  </div>

  <div class="field" >
    <%= form.label :latitude %>
    <%= form.text_field :latitude , id:"place_latitude"%>
  </div>
  <div class="field" >
    <%= form.label :longitude %>
    <%= form.text_field :longitude ,id:"place_longitude"%>
  </div>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", initMap);
  </script>

  <div id="map" style='width: 800px; height: 400px;'></div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
function initMap() {
<%geo = Geofence.where("post_id  =?",params[:id]).first %>

var lat = document.getElementById('place_latitude').value;
var lng = document.getElementById('place_longitude').value;
if (!lat || !lng){
    <%if geo %>
lat=<%=geo.latitude %>;
lng=<%=geo.longitude %>;
<%else %>
    lat = 0;
    lng =  10;
    <%end %>
document.getElementById('place_latitude').value = lat;
document.getElementById('place_longitude').value = lng;
}

var myCoords = new google.maps.LatLng(lat, lng);
var mapOptions = {
center: myCoords,
zoom: 14
};
var map = new google.maps.Map(document.getElementById('map'), mapOptions);
var marker = new google.maps.Marker({
position: myCoords,
animation: google.maps.Animation.DROP,
map: map,
draggable: true
});
    function refreshMarker(){
        var lat = document.getElementById('place_latitude').value;
        var lng = document.getElementById('place_longitude').value;
        var myCoords = new google.maps.LatLng(lat, lng);
        marker.setPosition(myCoords);
        map.setCenter(marker.getPosition());
    }
// when input values change call refreshMarker
    document.getElementById('place_latitude').onchange = refreshMarker;
    document.getElementById('place_longitude').onchange = refreshMarker;

    marker.addListener('drag', function() {
        latlng = marker.getPosition();
        newlat=(Math.round(latlng.lat()*1000000))/1000000;
        newlng=(Math.round(latlng.lng()*1000000))/1000000;
        document.getElementById('place_latitude').value = newlat;
        document.getElementById('place_longitude').value = newlng;
    });
// When drag ends, center (pan) the map on the marker position
    marker.addListener('dragend', function() {
        map.panTo(marker.getPosition());
    });


}

// refresh marker position and recenter map on marker

</script>
<style>
  #map {
    height: 400px;
    width: 100%;
  }
</style>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_AvqTAYSLAaa0Xd3FzNTfWG03cQWRpN4&callback=initMap">
</script>
