<%= form_with(model: post_vote, local: true) do |form| %>
  <% if post_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_vote.errors.count, "error") %> prohibited this post_vote from being saved:</h2>

      <ul>
      <% post_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :vote %>
    <%= form.check_box :vote %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
